* {
    margin:0;
}
.logo {
    width: 25rem;
    height: 10rem;
    margin: 0 0 0 35rem;
}

.search {
    text-align: center;
    margin-bottom: 4rem;
}

.search_bar {
    border-radius: 2rem;
    width: 30rem;
    height: 2rem;
    border-color: dodgerblue;
}

.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 1em;
    color: white;
    height: 2rem;
}


/* For phone with small width */
@media (max-width: 400px) {
    .logo {
        width: 18rem;
        height: 6rem;
        margin: 0.5rem 0 0 3rem;
    }

    .search {
        margin-bottom: 2rem;
    }
    .search_bar {
        width: 18rem;
        height: 2rem;
    }

    .btn_rechercher {
        height: 2rem;
        width: 7rem;
        margin: 0.5rem 0 0 0;
    }

    .titre {
        font-size: 14px;
        margin-right: 1rem;
    }
}

/* For phone with width higher than 400px*/
@media (min-width: 401px) and (max-width: 599px) {
    .logo {
        width: 18rem;
        height: 6rem;
        margin: 0.5rem 0 0 4rem;
    }

    .search {
        margin-bottom: 2rem;
    }

    .search_bar {
        width: 20rem;
        height: 2rem;
    }

    .btn_rechercher {
        height: 2rem;
        width: 7rem;
        margin: 0.5rem 0 0 0;
    }

    .titre {
        font-size: 14px;
        margin-right: 1rem;
    }
}