* {
    margin:0;
}
.logo {
    width: 16rem;
    height: 6rem;
    margin: 0 0 0 39rem;
}

.search {
    text-align: center;
    margin-bottom: 2rem;
}

.search_bar {
    border-radius: 2rem;
    width: 30rem;
    height: 2rem;
    border-color: dodgerblue;
}

.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 1em;
    color: white;
    height: 2rem;
}

.link {
    color: #0b5db0;
    text-decoration: none;
}

.link:hover {
    color: deepskyblue;
}

.link:visited {
    color:purple;
}

.link:active {
    color:red;
}

.resultat {
    width: auto;
    height: auto;
    max-width: 63%;
    max-height: 9rem;
    margin: 0px 0 0 17%;
    overflow: auto;
    background-color: aliceblue;
    font-size: 16px;
    border-radius: 1em;
    padding: 1% 0 0 0;
    scrollbar-color: #3278fa lightgray;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/* For phone with small width */
@media (max-width: 400px) {
    .logo {
        width: 18rem;
        height: 6rem;
        margin: 0.5rem 0 0 3rem;
    }

    .search {
        margin-bottom: 2rem;
    }
    .search_bar {
        width: 18rem;
        height: 2rem;
    }

    .btn_rechercher {
        height: 2rem;
        width: 7rem;
        margin: 0.5rem 0 0 0;
    }

    .titre {
        font-size: 14px;
        margin-right: 1rem;
    }
}

/* For phone with width higher than 400px*/
@media (min-width: 401px) and (max-width: 599px) {
    .logo {
        width: 18rem;
        height: 6rem;
        margin: 0.5rem 0 0 4rem;
    }

    .search {
        margin-bottom: 2rem;
    }

    .search_bar {
        width: 20rem;
        height: 2rem;
    }

    .btn_rechercher {
        height: 2rem;
        width: 7rem;
        margin: 0.5rem 0 0 0;
    }

    .titre {
        font-size: 14px;
        margin-right: 1rem;
    }
}