* {
    margin:0;
}
.logo {
    width: 16rem;
    height: 6rem;
    margin: 0 0 0 40%;
}

.search {
    text-align: center;
    margin-bottom: 2rem;
}

.search_bar {
    border-radius: 2rem;
    width: 30rem;
    height: 2rem;
    border-color: dodgerblue;
}

.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 1em;
    color: white;
    height: 2rem;
    padding-right: 10px;
}

.btn_rechercher span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn_rechercher span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    height: 3rem;
    top: 0;
    right: -100px;
    transition: 0.5s;
}

.btn_rechercher:hover span {
    padding-right: 20px;
}

.btn_rechercher:hover span:after {
    opacity: 1;
    right: 0;
}

span {
    font-size: 25px;
    top: -21.5px;
    left: 5px;
    right: 3px;
}
.link {
    color: #0b5db0;
    text-decoration: none;
}

.link:hover {
    color: deepskyblue;
}

.link:visited {
    color:purple;
}

.link:active {
    color:red;
}

.right {
    float: right;
    width: 50%;
}

.left {
    float: left;
    width: 50%;
}
.resultat {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 27rem;
    margin: 0 0 0 5%;
    overflow: auto;
    background-color: aliceblue;
    font-size: 16px;
    border-radius: 1em;
    padding: 1% 0 0 0;
    scrollbar-color: #3278fa lightgray;
}

.telechargement {
    height: 20px;
    margin: -3px 0 0 6px;
    vertical-align: middle;
}

/* Circle Graph*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 20px 0 0 0;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*Graph Baton*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
}

#Graph2 {
    height: 400px;
    margin: 20px 0 0 0;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Carte */
#carte {
    height: 400px;
    margin: 5px 0 0 0;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
