* {
    margin:0;
}
.search {
    text-align: center;
}
.search_bar {
    margin: 20% 0 0 0%;
    border-radius: 3%;
    width: 25%;
    height: 2%;
    border-color: dodgerblue;
}
.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 3%;
}

.barre_accueil {
    background: lightgrey;
    padding: 1.8%;
}

/*#interrogation {
    height: 150%;
    width: 150%;
}

.anim:hover {
    transition: all 0.5s;
    transform: scale(1.25);
}*/

@media (min-width: 768px) and (max-width: 1388px) {
    .barre_accueil {
        background: lightgrey;
        padding: 3.5%;
    }
}

@media (max-width: 767px) {
    .barre_accueil {
        background: lightgrey;
        padding: 5%;
    }
}
