.search {
    text-align: center;
}
.search_bar {
    margin-top: 300px;
    border-radius: 3%;
    width: 250px;
    height: 20px;
    border-color: dodgerblue;
}
.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 3%;
}