* {
    margin:0;
}
.barre_accueil {
    background: lightgrey;
    padding: 1.8%;
}

.conteneur_accueil {
    float: right;
    margin: -1% 20% 0 0;
}

#help {
    float: left;
    background: white;
    border: 2px solid black;
    border-radius: 1em;
    -o-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    width: 27px;
    height: 27px;
}

#interrogation {
    width: 90%;
    margin: 6% 0 0 6%;

}

.anim:hover {
    transition: all 0.5s;
    transform: scale(1.25);
}

.logo {
    width: 25%;
    height: 20%;
    margin: 0 0 0 37%;
}

.search {
    text-align: center;
}

.search_bar {
    margin: 0 0 0 0;
    border-radius: 2rem;
    width: 30rem;
    height: 2rem;
    border-color: dodgerblue;
}

.btn_rechercher {
    background-color: dodgerblue;
    border-radius: 1em;
    color: white;
    height: 2rem;
}



/* A Modifier */


/* Pour tablette */
/*@media (min-width: 768px) and (max-width: 1388px) {
    .barre_accueil {
        background: lightgrey;
        padding: 3.5%;
    }

    .logo {
        width: 40%;
        height: 35%;
        margin: 3% 0 0 30%;
    }

    .search_bar {
        width: 50%;
        height: 40px;
    }

    .btn_rechercher {
        height: 40px;
    }
}*/

/* Pour téléphone */
/*@media (min-width: 300px) and (max-width: 767px) {
    .barre_accueil {
        background: lightgrey;
        padding: 7%;
    }

    .logo {
        width: 70%;
        height: 60%;
        margin: 3% 0 0 20%;
    }

    .search_bar {
        width: 70%;
        height: 65px;
    }

    .btn_rechercher {
        height: 65px;
        width: 15%;
    }
}*/
